<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Order History</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1>Order History</h1>
    <table class="table">
      <thead>
        <tr>
          <th>מספר הזמנה</th>
          <th>תאריך</th>
          <th>כמות מוצרים</th>
          <th>מחיר כולל</th>

        </tr>
      </thead>
      <tbody>
        
        <% for (const order of orders) { %>
          <tr>
            <td><a href="/orders/<%= order._id %>"><%= order._id %></a></td>
            <td><%= order.orderDate %></td>
            <td><%= order.products[0].quantity %></td>
            <td><%= order.totalAmount %></td>
            </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <!-- jQuery Version 3.6.0 -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- Bootstrap Core JavaScript -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
