<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>עגלה</title>

    <link href="../../css/bootstrap.css" rel="stylesheet" />
    <link href="../../css/cart.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container px-3 my-5 clearfix">
      <!-- Shopping cart table -->
      <div class="card">
        <div class="card-header">
          <h2>Shopping Cart</h2>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered m-0">
              <thead>
                <tr>
                  <!-- Set columns width -->
                  <th class="text-center py-3 px-4" style="min-width: 400px">
                    שם מוצר ותיאור  
                  </th>
                  <th class="text-center py-3 px-4" style="width: 100px">
                    מחיר
                  </th>
                  <th class="text-center py-3 px-4" style="width: 120px">
                    כמות
                  </th>
                  <th class="text-center py-3 px-4" style="width: 100px">
                    מחיר סה"כ
                  </th>
                  <th
                    class="text-center align-middle py-3 px-0"
                    style="width: 40px"
                  >
                    <a
                      href="#"
                      class="shop-tooltip float-none text-light"
                      title=""
                      data-original-title="Clear cart"
                      ><i class="ino ion-md-trash"></i
                    ></a>
                  </th>
                </tr>
              </thead>
              <tbody>
                <% cartItems.forEach((cartItem) => { %>
                <tr>
                  <td class="p-4">
                    <div class="media align-items-center">
                      <img
                        src="<%= cartItem.productId.picture %>"
                        class="d-block ui-w-40 ui-bordered mr-4"
                        alt=""
                      />
                      <div class="media-body">
                        <a href="#" class="d-block text-dark"
                          ><%= cartItem.productId.name %></a
                        >
                        <b class="text-secondary d-block text-center"
                          ><%= cartItem.productId.description %></a
                        >

                      </div>
                    </div>
                  </td>
                  <td class="text-center font-weight-semibold align-middle p-4">
                    <%= cartItem.productId.price %>
                  </td>
                  <td class="align-middle p-4">
                    <input
                      type="text"
                      class="form-control text-center"
                      value="<%= cartItem.quantity %>"
                    />
                  </td>
                  <td class="text-center font-weight-semibold align-middle p-4">
                    <%= cartItem.productId.price * cartItem.quantity %>
                  </td>
                  <td class="text-center align-middle px-0">
                    <a href="/cart/remove/<%= cartItem._id %>" class="shop-tooltip close float-none text-danger" title="Remove" data-original-title="Remove">×</a>
                    
                  </td>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
          <!-- / Shopping cart table -->

          <div
            class="d-flex flex-wrap justify-content-between align-items-center"
          >
            <div class="d-flex">
              <div class="text-center mt-4">
                <label class="text-muted font-weight-normal m-0"
                  >מחיר סופי</label
                >
                <div class="text-large">
                  <strong>
                    <% let totalPrice = 0; %> <% cartItems.forEach((cartItem) =>
                    { %> <% totalPrice += cartItem.productId.price *
                    cartItem.quantity; %> <% }); %> <%= totalPrice.toFixed(2) %>
                  </strong>
                  ש"ח
                </div>
              </div>
              <br />
            </div>
          </div>

          <div class="text-center mb-3">
            <a href="/" class="btn btn-lg btn-default mt-2">בחזרה לחנות</a>
            <button type="button" class="btn btn-lg btn-primary mt-2">
              קניה
            </button>
          
          </div>

          <br />
        </div>
      </div>
    </div>

    <!-- jQuery Version 1.11.1 -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
